<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/viewDb.css">
	</head>
	<body>

		<div id="cont">
			<p id="title">Ver Base de datos</p>
			<form action="viewDb">
				<p id="querys">Querys</p>
				<textarea name="querys"></textarea>
				<div id="table"></div>
				<button class="right" id="send">+</button>
				<div class="clear">
				</div>
			</form>
		</div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://d3js.org/d3.v4.js"></script>
		<script src="../static/viewDb.js"></script>
	</body>
</html>